* {
  margin: 0;
  color: white;
  background-color: #111;
  font-family: "Lucida Console", Courier, monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.or {
  color: blanchedalmond;
}

.button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.join-game {
  font-family: "Lucida Console", Courier, monospace;
  color: white;
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 570px;
  height: 80px;
  margin-top: 50px;
}
.create-game {
  font-family: "Lucida Console", Courier, monospace;
  color: white;
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 400px;
  height: 80px;
}
.title {
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  color: white;
  margin-top: 20px;
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board {
  max-width: 100%;
  padding-left: 150px;
  padding-top: 50px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 700px;
}

.square {
  height: 100px;
  flex: 0 0 32%;
  border: 1px solid lightgrey;
  margin-bottom: 5px;
}

.square-item {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  font-weight: 700;
}

.square-win {
  border: 2px solid green;
}

.disabled {
  cursor: not-allowed;
}

.welcome {
  padding-top: 30px;
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
